@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #005589;
}

.bg-gray {
    background-color: #f6f6f6;
}

.fs-7 {
    font-size: .875rem !important;
}

.widget {
    background-color: #fff;
    border-top: 2px solid #5ea4f3;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0,0,0,.075);
}

.widget--500 {
    max-width: 500px;
}
